body {
    background-color: lightblue;
}

.font-size {
    color: black;
    font-size: 30px;
}

.box-n {
    background: black;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    align-items: center;
    width: 200px;
    margin: 10px;
    height: 200px;
}